<style>
    .newsletter-send-container {
        display: flex;
        min-width: 700px;
    }

    .newsletter-send-container > div {
        flex: 1;
    }
</style>

<md-dialog>
    <md-dialog-content>
        <h2 class="dialog-header">Skicka nyhetsbrev</h2>

        <div class="newsletter-send-container">
            <div>
                <p>Skicka till grupper:</p>
                <div ng-repeat="accessright in vm.Accessrights">
                    <md-checkbox ng-model="accessright.Checked" aria-label="{{accessright.Name}}">
                        {{accessright.Name}}
                        <md-tooltip>{{accessright.Description}}</md-tooltip>
                    </md-checkbox>
                </div>
            </div>

            <div>
                <p>Skicka till kontakter</p>
                <md-input-container>
                    <label>Sök kontakt</label>
                    <input type="text" ng-model="vm.ContactSearch" />
                </md-input-container>
                <div></div>
                <md-checkbox ng-click="vm.ToggleAll()" md-indeterminate="vm.IsIndeterminate()" ng-checked="vm.IsAllChecked()">Markera alla</md-checkbox>

                <div ng-repeat="contact in vm.Contacts | startFrom:{Page: vm.CurrentPage, PageSize: vm.PageSize, Filter: vm.ContactSearch}">
                    <md-checkbox ng-checked="vm.IsChecked(contact)" ng-click="vm.Toggle(contact)" aria-label="{{contact.FullName}}">
                        {{contact.FullName}}
                        <md-tooltip>{{contact.Email}}</md-tooltip>
                    </md-checkbox>
                </div>

                <gk-paging total-size="vm.Contacts.length" current-page="vm.CurrentPage" limit-to="3"></gk-paging>
            </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="vm.Send();">Skicka</md-button>
        <md-button class="md-raised" ng-click="vm.Close();">Avbryt</md-button>
    </md-dialog-actions>
</md-dialog>