<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Nyhetsbrev
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till nyhetsbrev</span>

<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Skapat av</th>
            <th>Skapat</th>
            <th>Mer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="newsletter in vm.Newsletters" ng-click="vm.Edit(newsletter.Id)">
            <td>{{newsletter.Name}}</td>
            <td>{{newsletter.CreatedByName}}</td>
            <td>{{vm.GetDate(newsletter.CreatedDate)}}</td>
            <td class="more">
                <i class="fa fa-pencil-square-o action-icon" aria-hidden="true" ng-click="vm.Edit(newsletter.Id)">
                    <md-tooltip>
                        Redigera
                    </md-tooltip>
                </i>

                <i class="fa fa-send md-hue-3 action-icon" ng-if="$root.HasAccess(8, 30);" ng-click="vm.SendNewsletter(newsletter); $event.stopPropagation();">
                    <md-tooltip>
                        Skicka
                    </md-tooltip>
                </i>

                <i class="fa fa-bar-chart md-hue-3 action-icon" ng-if="$root.HasAccess(8, 30);" ng-click="vm.ShowStats(newsletter); $event.stopPropagation();">
                    <md-tooltip>
                        Visa utskicksstatistik
                    </md-tooltip>
                </i>

                <i class="fa fa-trash md-hue-3 action-icon" ng-if="$root.HasAccess(8, 40);" ng-click="vm.Delete(newsletter); $event.stopPropagation();">
                    <md-tooltip>
                        Ta bort Nyhetsbrev
                    </md-tooltip>
                </i>
            </td>
        </tr>
    </tbody>
</table>