<form ng-submit="vm.Save()" name="">
    <md-subheader class="md-no-sticky">
        Redigera: {{vm.Newsletter.Name}}
    </md-subheader>
    <div class="edit-container">
        <md-input-container md-no-float>
            <input type="text" ng-model="vm.Newsletter.Name" placeholder="Namn"/>
        </md-input-container>

        <md-input-container></md-input-container>

        <md-input-container style="width: 100%;">
            <textarea ng-model="vm.Newsletter.Content" ck-editor></textarea>
        </md-input-container>
    </div>

    <div>
        <md-button class="md-raised md-primary" type="submit">Spara</md-button>
        <md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
    </div>
</form>