<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Nyhetsbrevs statistik
    </h1>
</md-toolbar>

<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th>Till</th>
            <th>Skickat</th>
            <th>Läst</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.Stats">
            <td>{{item.FirstName}} {{item.LastName}} ({{item.Email}})</td>
            <td>
                <span ng-if="item.IsSent">{{vm.GetDate(item.SendDate);}}</span>
                <span ng-if="!item.IsSent">I kö</span>
            </td>
            <td><md-checkbox ng-model="item.IsRead" ng-disabled="true"></md-checkbox></td>
        </tr>
    </tbody>
</table>