<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Nyhetsbrev
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till nyhetsbrev</span>

<dtable options="$root.TableOptions" rows="vm.Newsletters" class="material dt">
    <column name="Namn">
        {{$row.Name}}
    </column>
    <column name="Skapat av">
        {{$row.CreatedByName}}
    </column>
    <column name="Skapat">
        {{vm.GetDate($row.CreatedDate)}}
    </column>
    <column name="Mer">
        <i class="fa fa-pencil-square-o action-icon" aria-hidden="true" ng-click="vm.Edit($row.Id)">
            <md-tooltip>
                Redigera
            </md-tooltip>
        </i>

        <i class="fa fa-send md-hue-3 action-icon" ng-if="$root.HasAccess(8, 30);" ng-click="vm.SendNewsletter($row); $event.stopPropagation();">
            <md-tooltip>
                Skicka
            </md-tooltip>
        </i>

        <i class="fa fa-bar-chart md-hue-3 action-icon" ng-if="$root.HasAccess(8, 30);" ng-click="vm.ShowStats($row); $event.stopPropagation();">
            <md-tooltip>
                Visa utskicksstatistik
            </md-tooltip>
        </i>

        <i class="fa fa-trash md-hue-3 action-icon" ng-if="$root.HasAccess(8, 40);" ng-click="vm.Delete($row); $event.stopPropagation();">
            <md-tooltip>
                Ta bort Nyhetsbrev
            </md-tooltip>
        </i>
    </column>
</dtable>