<div class="login-container">
    <div class="login-data md-whiteframe-z1">
        <ng-transclude></ng-transclude>
        <form name="loginForm" ng-submit="vm.ForgotPassword()">
            <md-input-container md-no-float style="min-width: 150px;">
                <md-select ng-model="vm.SelectedClubId" placeholder="{{'global.chose' | translate}} {{'global.club' | translate}}">
                    <md-option ng-repeat="club in vm.Clubs" ng-value="club.Id">{{club.Name}}</md-option>
                </md-select>
            </md-input-container>


            <md-input-container md-no-float>
                <input name="email" type="text" ng-model="vm.Email" placeholder="{{'global.email' | translate}}" required />
                <div ng-messages="loginForm.email.$error">
                    <div ng-message="required">{{'forgotpassword.error.email' | translate}}</div>
                </div>

            </md-input-container>

            <md-button md-no-ink class="md-raised md-primary" type="submit">{{'global.send' | translate}}</md-button>
            
            <div class="center margin-top">
                <a ui-sref="login">{{'global.back' | translate}}</a>
            </div>
            <!--<md-button md-no-ink class="md-raised register" ng-click="Register()">Registrera</md-button>-->
        </form>
    </div>
</div>