<md-toolbar md-scroll-shrink class="md-whiteframe-z2">
    <div class="logged-in-container">
        <div class="logged-in-user" ng-click="LoggedInUserToggle = !LoggedInUserToggle;">
            {{UserService.User.FullName()}}
            <span class="brand-second-color fa" ng-class="{ false:'fa-sort-desc', true: 'fa-sort-asc' }[LoggedInUserToggle]"></span>
        </div>

        <div class="logged-in-club-container">
            <span class="club-name">{{UserService.User.Club.Name}}</span>
            <img class="club-image hide-sm hide-md" src="{{UserService.User.Club.Image}}" alt="{{UserService.User.Club.ShortName}}"/>
        </div>

        <md-button class="mobile-menu-button icon-menu md-accent md-fab fa fa-bars" md-no-ink ng-click="::TriggerMobileMenu()"></md-button>
    </div>
</md-toolbar>

<div class="logged-in-user-settings" ng-show="LoggedInUserToggle">
    <ul>
        <li ng-click="Logout()">Logga ut</li>
    </ul>
</div>