<md-toolbar md-scroll-shrink class="md-whiteframe-z2">
    <div class="logged-in-container">
        <md-menu class="logged-in-user" class="md-primary">
            <div class="logged-in-user" ng-click="$mdOpenMenu($event);" style="display: flex;">
                <div class="logged-in-image" fit-image="60">
                    <img src="{{UserService.User.Image}}" alt="" fallback-src="content/images/No_Image_Available.png"/>
                </div>
                <span style="margin-left: 1em;">
                    <i class="fa fa-user"></i>
                    {{UserService.User.FullName()}}
                </span>
            </div>

            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="Logout()"><i class="fa fa-sign-out"></i> Logga ut</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><i class="fa fa-user"></i> Redigera profil</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <div class="logged-in-club-container">
            <span class="club-name">{{UserService.User.Club.Name}}</span>
            <img class="club-image hide-sm hide-md" src="{{UserService.User.Club.Image}}" alt="{{UserService.User.Club.ShortName}}"/>
        </div>

        <md-button class="mobile-menu-button icon-menu md-accent md-fab fa fa-bars" md-no-ink ng-click="::TriggerMobileMenu()"></md-button>
    </div>
</md-toolbar>

