<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Redigera: {{User.FirstName}} {{User.LastName}}
    </h1>
</md-toolbar>

<form name="editUser" ng-submit="Save()">
    <div class="edit-image drop-box" fit-image="150" ngf-drop="$root.UploadImage($files, OnUploadSuccess)" ngf-drag-over-class="'dragover'" ngf-multiple="false"
         ngf-pattern="'image/*'" ngf-capture="'camera'" ngf-select="$root.UploadImage($files, OnUploadSuccess)">
        <img src="{{User.Image}}" fallback-src="content/images/No_Image_Available.png" />
    </div>

    <div class="edit-container">
        <md-input-container>
            <label>Förnamn</label>
            <input type="text" ng-model="User.FirstName" required name="firstname" />
            <div ng-messages="editUser.firstname.$error">
                <div ng-message="required">Du måste fylla i ett förnamn</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <label>Efternamn</label>
            <input type="text" ng-model="User.LastName" required name="lastname" />
            <div ng-messages="editUser.lastname.$error">
                <div ng-message="required">Du måste fylla i ett efternamn</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <label>Användarnamn</label>
            <input type="text" ng-model="User.UserName" required name="username" />
            <div ng-messages="editUser.username.$error">
                <div ng-message="required">Du måste fylla i ett användarnamn</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <label>E-post</label>
            <input type="email" ng-model="User.UserInformation.Email" required name="email" />
            <div ng-messages="editUser.email.$error">
                <div ng-message="required">Du måste fylla i en e-post adress</div>
                <div ng-message="email">Ej giltig e-post adress</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float ng-if="User.Id > 0">
            <label>Lösenord</label>
            <input type="password" ng-model="User.Password" />
        </md-input-container>

        <md-input-container md-no-float ng-if="User.Id <= 0">
            <label>Lösenord</label>
            <input type="password" ng-model="User.Password" required minlength="5" name="password" />
            <div ng-messages="editUser.password.$error">
                <div ng-message="required">Du måste fylla i ett lösenord</div>
                <div ng-message="minlength">Lösenordet är för kort</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <label>Telefonnummer</label>
            <input type="text" ng-model="User.UserInformation.Phone" />
        </md-input-container>

        <md-input-container md-no-float>
            <label>Adress</label>
            <input type="text" ng-model="User.UserInformation.Street" />
        </md-input-container>

        <md-input-container md-no-float>
            <label>Postnummer</label>
            <input type="text" ng-model="User.UserInformation.Zip" />
        </md-input-container>

        <md-input-container md-no-float>
            <label>Stad</label>
            <input type="text" g-places-autocomplete force-selection="true" ng-model="UserCity" />
        </md-input-container>

        <md-input-container md-no-float>
            <label>Arbete</label>
            <input type="text" ng-model="User.UserInformation.Occupation" />
        </md-input-container>

        <md-input-container md-no-float>
            <label>Vikt</label>
            <input type="text" ng-model="User.UserInformation.Weight" name="weight" />
        </md-input-container>

        <md-input-container>
            <label>Grad</label>
            <md-select ng-model="User.UserInformation.Grade" required name="grade">
                <md-option ng-repeat="grade in Grades" value="{{grade.Id}}">
                    {{grade.Name}}
                </md-option>
            </md-select>
            <div ng-messages="editUser.grade.$error">
                <div ng-message="required">Du måste välja en grad</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Kön</label>
            <md-select ng-model="User.Gender" required name="gender">
                <md-option value="0">
                    Man
                </md-option>
                <md-option value="1">
                    Kvinna
                </md-option>
            </md-select>
            <div ng-messages="editUser.gender.$error">
                <div ng-message="required">Du måste välja ett kön</div>
            </div>
        </md-input-container>

        <div>
            <span>Födelsedag</span>
            <md-datepicker ng-model="User.UserInformation.Birthday" md-placeholder="Födelsedag"></md-datepicker>
        </div>


        <md-input-container md-no-float ng-repeat="genericValue in User.GenericValues">
            <label>{{genericValue.Name}}</label>
            <input type="text" ng-model="genericValue.Value" name="weight" />
        </md-input-container>
    </div>

    <md-subheader class="md-no-sticky">
        Rättigheter
    </md-subheader>

    <div class="edit-accessrights">
        <md-checkbox ng-repeat="accessright in AccessRights" ng-model="accessright.Checked" aria-label="{{accessright.Name}}">
            {{accessright.Name}}
            <md-tooltip>{{accessright.Description}}</md-tooltip>
        </md-checkbox>
    </div>

    <div>
        <md-button class="md-raised md-primary" type="submit">Spara</md-button>
        <md-button class="md-raised md-warn" ng-click="Back();">Avbryt</md-button>
    </div>
</form>