<style>
    md-dialog md-checkbox
    {
        display: block;
    }
</style>

<md-dialog>
    <md-dialog-content>
        <span class="md-button md-raised" ngf-multiple="false"
              ngf-select="vm.FileSelect($files)">
            Välj fil
        </span>
        <p ng-bind="vm.File.name"></p>
        <md-subheader class="md-no-sticky">
            Inställningar
        </md-subheader>
        <md-checkbox ng-model="vm.SendWelcomeMail" class="md-{{$root.Theme}}-theme">Skicka välkomst mail</md-checkbox>
        <md-checkbox ng-model="vm.TryToMatchGroupName" class="md-{{$root.Theme}}-theme">
            Försök matcha grupp
            <md-tooltip>
                Försöker matcha "Gruppkoppling" med ett namn på en användargrupp.
            </md-tooltip>
        </md-checkbox>
        <div class="import-users-groups">
            <md-subheader class="md-no-sticky">
                Rättigheter
            </md-subheader>
            <md-checkbox ng-repeat="accessright in vm.Accessrights" ng-disabled="vm.TryToMatchGroupName" ng-model="accessright.Checked" aria-label="{{accessright.Name}}">
                {{accessright.Name}}
                <md-tooltip>{{accessright.Description}}</md-tooltip>
            </md-checkbox>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <span class="md-button md-primary md-raised md-{{$root.Theme}}-theme" ng-click="vm.ImportFromSportadmin();">Importera</span>
        <span class="md-button" ng-click="vm.Close();">Stäng</span>
    </md-dialog-actions>
</md-dialog>