<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Medlemmar
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.EditUser(0, $event);"><i class="fa fa-plus-circle"></i> Lägg till användare</span>
<span ng-if="$root.HasAccess(2, 40);" class="md-button md-raised" ng-click="vm.OpenImportDialog();"><i class="fa fa-users"></i> Importera från sportadmin</span>

<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th class="image"></th>
            <th>Namn</th>
            <th class="hide-sm hide-md hide-xs">Epost</th>
            <th class="hide-sm hide-md hide-xs">Stad</th>
            <th class="hide-sm hide-md hide-xs">Yrke</th>
            <th>Mer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.Users | filter:vm.Filter" ng-click="vm.EditUser(user.Id, $event)">
            <td class="image">
                <img alt="{{ user.FirstName }}" src="{{ user.Image }}" class="md-avatar" fallback-src="content/images/No_Image_Available.png" />
            </td>
            <td>{{user.FirstName}} {{user.LastName}}</td>
            <td class="hide-sm hide-md hide-xs">{{user.UserInformation.Email}}</td>
            <td class="hide-sm hide-md hide-xs">{{user.UserInformation.City.name}}</td>
            <td class="hide-sm hide-md hide-xs">{{user.UserInformation.Occupation}}</td>
            <td>
                <i ng-if="$root.HasAccess(2, 40);" ng-click="vm.DeleteUser(user); $event.stopPropagation();" class="fa fa-trash md-secondary md-hue-3"></i>
            </td>
        </tr>
    </tbody>
</table>