<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Redigera: {{vm.Competition.Name}}
    </h1>
</md-toolbar>

<form name="editCompetition" ng-submit="vm.SaveCompetition()">
    <div class="edit-container">
        <md-input-container md-no-float>
            <input type="text" ng-model="vm.Competition.Name" placeholder="Namn" required name="name" />
            <div ng-messages="editCompetition.name.$error">
                <div ng-message="required">Du måste fylla i ett namn på tävlingen</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <input type="text" ng-model="vm.Competition.Description" placeholder="Beskrivning" />
        </md-input-container>

        <md-input-container md-no-float>
            <input type="text" ng-model="vm.Competition.Location" placeholder="Plats" g-places-autocomplete force-selection="true" />
        </md-input-container>

        <div class="full-width edit-item">
            <span>Start datum</span>
            <md-datepicker ng-model="vm.Competition.StartDate" md-placeholder="StartDatum" name="startDate"></md-datepicker>
        </div>

        <div class="full-width edit-item">
            <span>Slut datum</span>
            <md-datepicker ng-model="vm.Competition.EndDate" md-placeholder="Slutdatum"></md-datepicker>
        </div>

        <div class="full-width edit-item">
            <span>Första anmälningsdagen</span>
            <md-datepicker ng-model="vm.Competition.StartSignupDate" md-placeholder="Första anmälningsdagen"></md-datepicker>
        </div>

        <div class="full-width edit-item">
            <span>Sista anmälningsdagen</span>
            <md-datepicker ng-model="vm.Competition.EndSignupDate" md-placeholder="Sista anmälningsdagen"></md-datepicker>
        </div>
    </div>

    <div class="edit-container">

        <div class="full-width">
            <md-checkbox ng-model="vm.Competition.IsExternal" aria-label="Skapa anmälningsformulär">
                Skapa anmälningsformulär
                <md-tooltip>Ett anmälningsformulär kommer att skapas för denna tävlingen.</md-tooltip>
            </md-checkbox>
            <span ng-show="vm.Competition.IsExternal">
                <a href="external.html#/show/competition/{{$root.UserService.User.Club.ShortName}}/{{vm.Competition.Name}}" target="_blank">
                    Länk till tävlingen
                </a>
            </span>
        </div>

        <div class="full-width">
            <md-checkbox ng-model="vm.Competition.IsGlobal" aria-label="Öppen för andra klubbar i systemet">
                Öppen för andra klubbar i systemet
                <md-tooltip>Tävlingen kommer att synas under "Tävlingar" hos andra klubbar i systemet.</md-tooltip>
            </md-checkbox>
        </div>

        <div class="full-width">
            <md-checkbox ng-model="vm.Competition.IsClubCompetition" aria-label="Klubbtävling">
                Klubbtävling
                <md-tooltip>Detta är en klubbtävling, det betyder att anmälningsformuläret är låst till bara klubben.</md-tooltip>
            </md-checkbox>
        </div>
    </div>

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools md-whiteframe-z1">
            Kategorier
        </h1>
    </md-toolbar>

    <md-input-container md-no-float class="new-competition-category">
        <input type="text" ng-model="vm.NewCategoryName" placeholder="Ny kategori namn" />
    </md-input-container>
    <md-button ng-disabled="vm.CompetitionId <= 0" class="md-button md-raised" ng-click="vm.AddCategory();"><i class="fa fa-plus-circle"></i> Lägg till kategori</md-button>
    <i class="fa fa-question-circle">
        <md-tooltip>
            Ex: P13, P17, Herr, F13 etc...
        </md-tooltip>
    </i>

    <table class="gradera-list" ng-cloak>
        <thead>
        <tr>
            <th>Namn</th>
            <th>Mer</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row" ng-repeat="category in vm.Competition.Categories">
            <td>{{category.Name}}</td>
            <td>
                <i ng-click="vm.DeleteCategory(category);" class="fa fa-trash md-hue-3">
                    <md-tooltip>
                        Ta bort kategori
                    </md-tooltip>
                </i>
            </td>
        </tr>
        </tbody>
    </table>

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools md-whiteframe-z1">
            Deltagare
        </h1>
    </md-toolbar>

    <table class="gradera-list" ng-cloak>
        <thead>
        <tr>
            <th class="image"></th>
            <th>Namn</th>
            <th class="hide-sm hide-md hide-xs">Klubb</th>
            <th class="hide-sm hide-md hide-xs">Kategori</th>
            <th class="hide-sm hide-md hide-xs">Mer</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row" ng-repeat="compeditor in vm.Competition.Compeditors">
            <td class="image">
                <img class="md-avatar" src="{{compeditor.Image}}" class="md-avatar" fallback-src="content/images/No_Image_Available.png" />
            </td>
            <td>{{compeditor.FirstName}} {{compeditor.LastName}}</td>
            <td class="hide-sm hide-md hide-xs">{{compeditor.ClubName}}</td>
            <td class="hide-sm hide-md hide-xs">{{compeditor.Category.Name}}</td>
            <td>
                <i ng-if="$root.HasAccess(5, 40);" ng-click="vm.RemoveCompeditor(compeditor); $event.stopPropagation();" class="fa fa-trash md-hue-3">
                    <md-tooltip>
                        Ta bort deltagare
                    </md-tooltip>
                </i>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <md-button class="md-raised md-primary" type="submit">Spara</md-button>
        <md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
    </div>
</form>