<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Tävlingar
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.EditCompetition(0, $event);"><i class="fa fa-plus-circle"></i> Lägg till tävling</span>

<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th>Namn</th>
            <th class="hide-sm hide-md hide-xs">När</th>
            <th class="hide-sm hide-md hide-xs">Var</th>
            <th>Mer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="competition in vm.Competitions" ng-click="vm.EditCompetition(competition.Id, $event)">
            <td>{{competition.Name}}</td>
            <td class="hide-sm hide-md hide-xs">
                {{competition.StartDate | date:'yyyy-MM-dd HH:mm'}}
                <span class="hide-sm hide-md hide-xs">- {{competition.EndDate | date:'yyyy-MM-dd HH:mm'}}</span>
            </td>
            <td class="hide-sm hide-md hide-xs">{{competition.Location.name}}</td>
            <td>
                <i class="fa fa-file-excel-o action-icon" ng-click="vm.ExportCompetition(competition); $event.stopPropagation();">
                    <md-tooltip>
                        Exportera tävling till excel för import i judo shiai
                    </md-tooltip>
                </i>

                <i ng-if="$root.HasAccess(5, 40);" ng-click="vm.DeleteCompetition(competition); $event.stopPropagation();" class="fa fa-trash action-icon">
                    <md-tooltip>
                        Ta bort tävling
                    </md-tooltip>
                </i>
            </td>
        </tr>
    </tbody>
</table>