<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Användargrupper
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.EditAccessright(0, $event);"><i class="fa fa-plus-circle"></i> Lägg till användargrupp</span>


<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th>Namn</th>
            <th class="hide-sm hide-md hide-xs">Beskrivning</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="accessright in vm.Accessrights" ng-click="vm.EditAccessright(accessright.Id, $event)">
            <td>{{accessright.Name}}</td>
            <td class="hide-sm hide-md hide-xs">{{accessright.Description}}</td>
        </tr>
    </tbody>
</table>