<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Tävlingar
    </h1>
</md-toolbar>

<md-list ng-cloak>
    <md-list-item ng-repeat="competition in vm.Competitions" ng-click="vm.ShowCompetition(competition.Id)">
        <p>{{competition.Name}}</p>
        <p class="hide-sm hide-md">{{competition.StartDate | date:'yyyy-MM-dd HH:mm'}} <span class="hide-sm hide-md hide-xs">- {{competition.EndDate | date:'yyyy-MM-dd HH:mm'}}</span></p>
        <p class="hide-sm hide-md hide-xs">{{competition.Location.name}}</p>
    </md-list-item>
</md-list>