<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Tävlingar
    </h1>
</md-toolbar>

<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th>Namn</th>
            <th class="hide-sm hide-md hide-xs">När</th>
            <th class="hide-sm hide-md hide-xs">Var</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="competition in vm.Competitions" ng-click="vm.ShowCompetition(competition.Id)">
            <td>{{competition.Name}}</td>
            <td class="hide-sm hide-md">
                {{competition.StartDate | date:'yyyy-MM-dd HH:mm'}}
                <span class="hide-sm hide-md hide-xs">- {{competition.EndDate | date:'yyyy-MM-dd HH:mm'}}</span>
            </td>
            <td class="hide-sm hide-md hide-xs">{{competition.Location.name}}</td>
        </tr>
    </tbody>
</table>