<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Visar tävling: {{vm.Competition.Name}}
    </h1>
</md-toolbar>

<div class="info-container">
    <div>
        <span>Namn:</span> {{vm.Competition.Name}}
    </div>
    <div>
        <span><i class="fa fa-map-marker"></i> Plats:</span> {{vm.Competition.Location.name}}
    </div>
    <div>
        <span><i class="fa fa-calendar"></i> Start tid:</span> {{vm.Competition.StartDate | date:'yyyy-MM-dd HH:mm'}}
    </div>
    <div>
        <span><i class="fa fa-calendar"></i> Slut tid:</span> {{vm.Competition.EndDate | date:'yyyy-MM-dd HH:mm'}}
    </div>
</div>
<div class="divider"></div>

<md-subheader class="md-no-sticky">
    Anmäl dig
</md-subheader>

<div class="competition-signup">
    <div class="info-container">
        <md-input-container>
            <label>Kategori</label>
            <md-select ng-model="vm.SelectedCategory">
                <md-option ng-repeat="category in vm.Competition.Categories" value="{{category.Id}}">
                    {{category.Name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-button ng-disabled="!vm.IsActive()" class="md-raised md-primary" ng-click="vm.Signup();">Anmäl mig</md-button>
</div>

<div class="divider"></div>

<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Anmälda deltagare
    </h1>
</md-toolbar>

<table class="gradera-list" ng-cloak>
    <thead>
    <tr>
        <th class="image"></th>
        <th>Namn</th>
        <th class="hide-sm hide-md hide-xs">Klubb</th>
        <th class="hide-sm hide-md hide-xs">Kategori</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" ng-repeat="compeditor in vm.Competition.Compeditors | orderBy:compeditor.Category.Name">
        <td class="image">
            <img class="md-avatar" src="{{compeditor.Image}}" class="md-avatar" fallback-src="content/images/No_Image_Available.png" />
        </td>
        <td>{{compeditor.FirstName}} {{compeditor.LastName}}</td>
        <td class="hide-sm hide-md hide-xs">{{compeditor.ClubName}}</td>
        <td class="hide-sm hide-md hide-xs">{{compeditor.Category.Name}}</td>
    </tr>
    </tbody>
</table>

<div>
    <md-button class="md-raised md-warn" ng-click="vm.Back();">Tillbaka</md-button>
</div>