<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Kontakter
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till </span>

<md-list ng-cloak>

    <md-list-item>
        <p><b>Namn</b></p>
        <p><b>Epost</b></p>
    </md-list-item>

    <md-list-item ng-repeat="contact in vm.Contacts" ng-click="vm.Edit(item.Id)">
        <p>{{contact.FullName}}</p>
        <p>{{contact.Email}}</p>

        <div class="more-icons md-secondary">
            <i ng-if="$root.HasAccess(9, 40);" ng-click="vm.Delete(contact); $event.stopPropagation();"
               class="fa fa-trash md-hue-3">
                <md-tooltip>
                    Ta bort
                </md-tooltip>
            </i>
        </div>
    </md-list-item>
</md-list>