ng-form
{
  display: flex;
  flex-wrap: wrap;

  .form-field-hundred
  {
    width: 100%;
  }

  .form-field-fifty
  {
    width: 50%;
  }

  .form-field-twentyfife
  {
    width: 25%;
  }

  .form-field-hundred,
  .form-field-fifty,
  .form-field-twentyfife
  {
    @media all and(max-width: 960px) {
      width: 100%;
    }
  }
}