<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Redigera: {{vm.Form.Name}}
    </h1>
</md-toolbar>

<div class="edit-container">
    <md-input-container md-no-float>
        <input type="text" ng-model="vm.Form.Name" placeholder="Formulär namn" />
    </md-input-container>

    <div></div>

    <md-input-container md-no-float>
        <textarea rows="10" ng-model="vm.Form.Description" placeholder="Beskrivning"></textarea>
    </md-input-container>

    <div></div>

    <md-datepicker ng-model="vm.Form.StartDate" md-placeholder="Startdatum">
        <md-tooltip>Startdatum</md-tooltip>
    </md-datepicker>

    <md-datepicker ng-model="vm.Form.EndDate" md-placeholder="Slutdatum">
        <md-tooltip>Slutdatum</md-tooltip>
    </md-datepicker>

    <div>
        <md-checkbox ng-model="vm.Form.IsExternal" aria-label="Externt formulär?">
            Externt formulär?
        </md-checkbox>

        <span ng-show="vm.Form.IsExternal">
            <a href="external.html#/show/form/{{$root.UserService.User.Club.ShortName}}/{{vm.Form.Name}}" target="_blank">
                Länk till formulär
            </a>
        </span>
    </div>

    <md-checkbox ng-model="vm.Form.MultipleSubmits" aria-label="Multipla submits?">
        Multipla submits?
    </md-checkbox>
</div>

<div class="divider"></div>

<md-subheader class="md-no-sticky">
    Lägg till e-post som svar skickas till
</md-subheader>

<div class="edit-container">
    <md-input-container md-no-float>
        <input type="text" ng-model="vm.Email" placeholder="E-post"/>
    </md-input-container>

    <div>
        <p ng-repeat="email in vm.Form.Emails">
            {{email.Email}}
        </p>
    </div>
</div>

<md-button class="md-raised md-primary" ng-click="vm.AddEmail();">Lägg till e-post</md-button>

<div class="divider"></div>

<md-subheader class="md-no-sticky">
    Lägg till fält:
</md-subheader>

<div class="edit-container">
    <md-input-container md-no-float>
        <input type="text" ng-model="vm.NewField.Label" placeholder="Namn" />
    </md-input-container>

    <md-checkbox ng-model="vm.NewField.IsRequired" aria-label="Nödvändigt?">
        Nödvändigt?
    </md-checkbox>

    <md-input-container>
        <label>Bredd</label>
        <md-select ng-model="vm.NewField.ClassName">
            <md-option value="form-field-hundred">
                100%
            </md-option>
            <md-option value="form-field-fifty">
                50%
            </md-option>
            <md-option value="form-field-twentyfife">
                25%
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label>Typ</label>
        <md-select ng-model="vm.NewField.Type">
            <md-option value="input">
                Input
            </md-option>
            <md-option value="textarea">
                Text område
            </md-option>
            <md-option value="checkbox">
                Checkbox
            </md-option>
            <md-option value="select">
                Rullgardin (dropdown)
            </md-option>
            <md-option value="upload">
                Fil upladdning
            </md-option>
        </md-select>
    </md-input-container>

    <md-checkbox ng-model="vm.NewField.CanMultiply" aria-label="Multiplicerbar?">
        Multiplicerbar?
    </md-checkbox>
</div>

<md-button class="md-raised md-primary" ng-click="vm.AddFormField();">Lägg till</md-button>

<div ng-show="vm.ShowSelectOptions" class="divider"></div>

<md-subheader class="md-no-sticky" ng-show="vm.ShowSelectOptions">
    Lägg till val:
</md-subheader>

<div ng-show="vm.ShowSelectOptions" class="edit-container">
    <md-input-container md-no-float>
        <input type="text" ng-model="vm.NewFormFieldOption.Name" placeholder="Namn" />
    </md-input-container>

    <div>
        <md-subheader class="md-no-sticky">
            Tillagda val:
        </md-subheader>
        <md-list>
            <md-list-item ng-repeat="option in vm.NewField.Options">
                <p>{{option.Name}}</p>
                <i ng-click="vm.DeleteOption(option);" class="fa fa-trash md-hue-3 md-secondary">
                    <md-tooltip>
                        Ta bort val
                    </md-tooltip>
                </i>
            </md-list-item>
        </md-list>
    </div>
</div>

<md-button ng-show="vm.ShowSelectOptions" class="md-raised md-primary" ng-click="vm.AddFormFieldOption();">Lägg till</md-button>
<div class="divider"></div>

<md-subheader class="md-no-sticky">
    Skicka "tack" mail till den som fyller i formuläret.
</md-subheader>
<div class="edit-container">
    <md-checkbox ng-model="vm.Form.SendThanksMail">Skicka "tack" mail</md-checkbox>
</div>

<div class="edit-container" ng-if="vm.Form.SendThanksMail">
    <md-input-container>
        <label>E-post fält</label>
        <md-select ng-model="vm.Form.EmailFieldName">
            <md-option ng-repeat="item in vm.Form.FormFields" value="{{item.Label}}">
                {{item.Label}}
            </md-option>
        </md-select>
    </md-input-container>
    <div></div>
    <md-input-container>
        <textarea ng-model="vm.Form.EmailHtml" ck-editor></textarea>
    </md-input-container>
    <div>
        <p>Placeholders man kan använda:</p>
        <p>#FORM# - lägger in alla formulär svar.</p>
        <!--<p>#FIELD-NAME# - Denna kommer att bytas ut mot fältet "Name" du kan byta ut till #FIELD-GRADE# då kommer den att ta "Grade" fältet. Använd de fält du har i ditt formulär.</p>-->
    </div>
</div>

<div class="divider"></div>

<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Fält:
    </h1>
</md-toolbar>

<table class="gradera-list" ng-cloak>
    <thead>
    <tr>
        <th>Namn</th>
        <th class="hide-sm hide-md hide-xs">Typ</th>
        <th class="hide-sm hide-md hide-xs">Obligatorisk?</th>
        <th ng-if="vm.Form.MultipleSubmits" class="hide-sm hide-md hide-xs">Multiplicerbar?</th>
        <th class="hide-sm hide-md hide-xs">Mer</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" ng-repeat="item in vm.Form.FormFields">
        <td>{{item.Label}}</td>
        <td class="hide-sm hide-md hide-xs">{{item.Type}}</td>
        <td class="hide-sm hide-md hide-xs">{{item.IsRequired ? 'Obligatorisk' : 'Ej obligatorisk'}}</td>
        <td ng-if="vm.Form.MultipleSubmits" class="hide-sm hide-md hide-xs">{{item.CanMultiply ? 'Ja' : 'Nej'}}</td>
        <td>
            <i ng-click="vm.EditFormFieldItem(item); $event.stopPropagation();" class="fa fa-pencil-square-o md-hue-3">
                <md-tooltip>
                    Redigera fält
                </md-tooltip>
            </i>

            <i ng-click="vm.DeleteFormFieldItem(item); $event.stopPropagation();" class="fa fa-trash md-hue-3">
                <md-tooltip>
                    Ta bort fält
                </md-tooltip>
            </i>
        </td>
    </tr>
    </tbody>
</table>

<div class="divider"></div>

<md-button class="md-raised md-primary" ng-click="vm.SaveForm();">Spara</md-button>
<md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
<md-button class="md-raised" ng-click="vm.ShowPreviewForm();">Förhandsgranska</md-button>