<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        <i class="fa fa-file-excel-o" aria-hidden="true" ng-click="vm.ExportToExcel();">
            <md-tooltip>
                Exportera till excel
            </md-tooltip>
        </i>

        Formulär svar
    </h1>
</md-toolbar>

<table class="gradera-list" ng-cloak>
    <thead>
        <tr>
            <th ng-repeat="header in vm.Answers[0].FormSubmits">
                {{header.Name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="answer in vm.Answers">
            <td ng-repeat="item in answer.FormSubmits">
                {{item.Value}}
            </td>
        </tr>
    </tbody>
</table>