<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        <i class="fa fa-file-excel-o" aria-hidden="true" ng-click="vm.ExportToExcel();">
            <md-tooltip>
                Exportera till excel
            </md-tooltip>
        </i>

        Formulär svar
    </h1>
</md-toolbar>

<table class="gradera-list" ng-cloak ng-if="vm.Answers.length">
    <thead>
        <tr>
            <th ng-repeat="header in vm.Answers[0].FormSubmits">
                {{header.Name}}
            </th>
            <th>
                Mer
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="answer in vm.Answers">
            <td ng-repeat="item in answer.FormSubmits" ng-class="{'image': vm.IsImage(item.Value)}">
                <img ng-if="vm.IsImage(item.Value)" src="/Uploads/Public/{{item.Value}}" class="md-avatar" ng-click="vm.DownloadFile(item.Value)" />
                <span ng-if="!vm.IsImage(item.Value)">{{item.Value}}</span>
            </td>
            <td>
                <i ng-if="$root.HasAccess(6, 40);" ng-click="vm.DeleteExternalFormAnswer(answer); $event.stopPropagation();" class="fa fa-trash action-icon">
                    <md-tooltip>
                        Ta bort svar
                    </md-tooltip>
                </i>
            </td>
        </tr>
    </tbody>
</table>