<md-list ng-cloak>
    <md-subheader class="md-no-sticky">
        Formulär svar
    </md-subheader>

    <md-list-item ng-repeat="answer in vm.UserAnswers" ng-click="answer.Show = !answer.Show">
        <img alt="{{ answer.FirstName }}" src="{{ answer.UserImage }}" class="md-avatar" fallback-src="content/images/No_Image_Available.png" />
        <div class="md-list-item-text" layout="column">
            <h4 ng-hide="answer.Show">{{answer.FirstName}} {{answer.LastName}}</h4>
            <p ng-show="answer.Show" ng-repeat="item in answer.FormSubmits">{{item.Name}}: {{item.Value}}</p>
        </div>
    </md-list-item>
</md-list>