<md-dialog style="padding: 15px;">
    <div class="form-preview">
        <form name="{{vm.PreviewForm.Id}}" novalidate>
            <formly-form model="vm.model" fields="vm.PreviewForm.FormFields" options="vm.options" form="vm.form">
            </formly-form>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="vm.form.$invalid" ng-click="vm.SubmitForm()">Skicka</md-button>
        </form>
    </div>

    <md-button class="md-raised md-primary" ng-click="vm.ClosePreview();">Stäng</md-button>
</md-dialog>