gk-grading-category
{
  md-grid-list
  {
    min-height: 50px;
  }

  ul
  {
    &[dnd-list],
    &[dnd-list] md-grid-tile
    {
      position: relative;
    }

    &[dnd-list]
    {
      min-height: 42px;
      padding-left: 0;
    }

    &[dnd-list] li,
    &[dnd-list] span
    {
      min-height: 42px;
      padding-left: 0;
      line-height: 42px;
      &:hover
      {
        cursor: move;
        background-color: #ddd;
      }
    }

    &[dnd-list] li > a
    {
      &:hover
      {
        cursor: pointer;
      }
    }

    &[dnd-list] .dndDraggingSource
    {
      display: none;
    }

    &[dnd-list] .dndPlaceholder
    {
      display: block;
      background-color: #ddd;
      min-height: 42px;
    }

    &[dnd-list] md-grid-tile
    {
      background-color: #fff;
      border: 1px solid #ddd;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
    }
  }

	md-toolbar
	{
		p
		{
			text-align: center;
		}
	}

	figure
	{
		.grading-category-img
		{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}

		a
		{
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	.grading-category-white-yellow
	{
		background-color: rgba(255, 252, 7, 0.4);
	}

	.grading-category-yellow
	{
		background-color: rgba(255, 252, 7, 0.6);
	}
}

@import 'login';