.edit-user-container
{
  display: flex;
  flex-wrap: wrap;

  > *
  {
    width: calc(50% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.edit-user-accessrights
{
  padding-left: 15px;
}

.edit-user-image
{
  margin: 15px auto;
  height: 150px;
  width: 150px;
  border: 1px solid #CECECE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}