$mobile-break: 960px;

*
{
  outline: 0;
}

[wrap]
{
	flex-wrap: wrap;
}

[ng-click]
{
  &:hover
  {
	cursor: pointer;
  }
}

md-tabs
{
  height: 80vh;
}

md-dialog-content
{
  padding: 10px;
}

md-backdrop
{
  @media all and (min-width: 960px)
  {
    display: none !important;
  }
}

md-toolbar
{
  > h1
  {
    > i
    {
      margin-right: 15px;
    }
  }
}

/* SECOND BRANDING COLOR */
.brand-second-color
{
	color: #FFAB40;
}

.brand-second-color-before:before
{
	color: #FFAB40;
}


.grading-divider
{
	width: 100%;
	height: 50px;
}

.content
{
	/*max-width: 960px;*/
	margin-left: 50px;

	@media all and (max-width: 1250px)
	{
		margin-left: 15px;
	}

	@media all and (max-width: 960px)
	{
		margin-left: 0;
	}
}

md-sidenav
{
  background-color: #FFF !important;

  .nav-header
  {
    color: #9B9B9B;
    font-weight: bold;
  }

	@media all and (max-width: 960px)
	{
		margin-top: 60px;
	}
}

/* EDIT STYLING */

.edit-container
{
  display: flex;
  flex-wrap: wrap;

  > *:not(.full-width)
  {
	width: calc(50% - 40px);
	margin-left: 15px;
	margin-right: 15px;

	@media all and (max-width: 960px) {
	  width: 100%;
	}
  }

  > .full-width
  {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  > .edit-item
  {
    > span
    {
      color: #CCCCCC;
      font-size: .8em;
    }
  }
}

.edit-image
{
  margin: 15px auto;
  height: 150px;
  width: 150px;
  border: 1px solid #CECECE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;

  &.dragover
  {
	border-color: #40b900;
  }
}

.edit-accessrights
{
  padding-left: 15px;
}

.info-container
{
  display: flex;
  flex-wrap: wrap;

  > div
  {
	margin: 15px;
	width: calc(50% - 30px);

	@media all and (max-width: 960px) {
	  width: 100%;
	}
  }
}

.info-image
{
  margin: 15px auto;
  height: 150px;
  width: 150px;
  border: 1px solid #CECECE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.divider
{
  height: 1px;
  display: block;
  width: 100%;
  margin: 7px 0;
  background-color: rgb(121,85,72);
}

.more-icons
{
  > i
  {
	margin: 0 5px;

	&:hover
	{
	  cursor: pointer;
	}
  }
}

footer
{
	width: 100%;
	text-align: right;
	padding: 10px;
	font-size: 10px;
	color: #9B9B9B;
}

.loader
{
  height: 50px;
  width: 200px;
  position: absolute;
  top: calc(50vh - 25px);
  left: calc(50vw - 100px);
  line-height: 50px;
  text-align: center;
  z-index: 9999;
  background-color: #FFFFFF;
}

.is-global
{
  color: red;
}

.left-banner
{
  position: absolute;
  top: 9px;
  left: -26px;
  text-align: center;
  width: 100px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  height: 30px;
  line-height: 30px;
  z-index: 100000;
  font-weight: bold;

  &.green
  {
    background-color: #4CAF50;
  }
}


/* IMPORTS */
@import 'logged-in';
@import 'basic';