.form-preview
{
  margin: 25px 0;
  padding: 10px;
  border: 1px dotted #795548;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.md-list-item-text
{
  p,
  h4
  {
    line-height: 16px;
  }

  p
  {
    color: #b9b9b9;
  }
}