<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Tekniker
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till teknik</span>

<md-list ng-cloak>

    <md-list-item>
        <p><b>Namn</b></p>
    </md-list-item>

    <md-list-item ng-repeat="technique in vm.Techniques | filter:{IsGlobal: false}" ng-click="vm.Edit(technique.TechniqueId)">
        <p>{{technique.Name}}</p>

        <div class="more-icons md-secondary">
            <i ng-if="$root.HasAccess(3, 40); !technique.IsGlobal" ng-click="vm.Delete(technique); $event.stopPropagation();"
               class="fa fa-trash md-hue-3">
                <md-tooltip>
                    Ta bort teknik
                </md-tooltip>
            </i>
        </div>
    </md-list-item>
</md-list>