<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Redigera: {{vm.Technique.Name}} - <span class="is-global" ng-if="vm.Technique.IsGlobal">Detta är en "global" teknik som du inte kan redigera.</span>
    </h1>
</md-toolbar>

<form name="editTechnique" ng-submit="vm.Save()">

    <div class="edit-image" fit-image="150" ngf-drop="$root.UploadImage($files, vm.OnUploadSuccess)" ngf-drag-over-class="'dragover'" ngf-multiple="false"
         ngf-pattern="'image/*'" ngf-capture="'camera'" ngf-select="$root.UploadImage($files, vm.OnUploadSuccess)">
        <img src="{{vm.Technique.TechniqueImages[0].Image}}" fallback-src="content/images/No_Image_Available.png" />
    </div>

    <span fit-image="100" ng-repeat="image in vm.Technique.TechniqueImages | orderBy:image.ImageOrder:true" style="display: inline-block;">
        <img src="{{image.Image}}" alt=""/>
    </span>

    <div class="edit-container">
        <md-input-container md-no-float>
            <input ng-disabled="vm.Technique.IsGlobal" type="text" md-maxlength="50" ng-model="vm.Technique.Name" placeholder="Namn"/>
        </md-input-container>

        <md-input-container>
            <label>Typ</label>
            <md-select ng-disabled="vm.Technique.IsGlobal" ng-model="vm.Technique.TechniqueTypeId" required name="TechniqueTypeId">
                <md-option ng-repeat="type in vm.TechniqueTypes" value="{{type.Id}}">
                    {{type.Name}}
                </md-option>
            </md-select>
            <div ng-messages="editTechnique.TechniqueTypeId.$error">
                <div ng-message="required">Du måste välja typ</div>
            </div>
        </md-input-container>

        <md-input-container md-no-float>
            <textarea ng-disabled="vm.Technique.IsGlobal" type="text" md-maxlength="4000" ng-model="vm.Technique.Description" placeholder="Beskrivning"></textarea>
        </md-input-container>
    </div>

    <div>
        <md-button ng-disabled="vm.Technique.IsGlobal" class="md-raised md-primary" type="submit">
            Spara
        </md-button>
        <md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
    </div>
</form>