<md-subheader class="md-no-sticky">
    Redigera: {{vm.TechniqueType.Name}} - <span class="is-global" ng-if="vm.TechniqueType.IsGlobal">Detta är en "global" teknik typ som du inte kan redigera.</span>
</md-subheader>
<div class="edit-container">
    <md-input-container md-no-float>
        <input ng-disabled="vm.TechniqueType.IsGlobal" type="text" ng-model="vm.TechniqueType.Name" placeholder="Namn" />
    </md-input-container>

    <!--<md-checkbox ng-if="$root.HasAccess(3, 40);" ng-model="vm.TechniqueType.IsGlobal" aria-label="Global">
        Global
        <md-tooltip>Typen kan användas av andra klubbar.</md-tooltip>
    </md-checkbox>-->
</div>

<div>
    <md-button ng-disabled="vm.TechniqueType.IsGlobal" class="md-raised md-primary" ng-click="vm.Save();">Spara</md-button>
    <md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
</div>