.home
{
  display: flex;

  @media all and(max-width: 960px) {
    flex-direction: column;
  }

  .club-information
  {
    width: 65%;

    @media all and(max-width: 960px) {
      width: 100%;
    }
  }
}

.home-widgets
{
  margin-left: 4%;
  width: 30%;
  display: flex;
  flex-direction: column;

  @media all and(max-width: 960px) {
    width: 100%;
    margin: 15px 5px 5px 5px;
  }

  .widget
  {
    width: calc(100% - 20px);
    min-height: 150px;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    @media all and(max-width: 960px) {
      width: calc(100% - 10px);
      margin: 10px 0;
    }

    &.green
    {
      background-color: #E8F5E9;
    }

    &.blue
    {
      background-color: #E3F2FD;
    }

    &.pink
    {
      background-color: #FCE4EC;
    }

    &.purple
    {
      background-color: #F3E5F5;
    }

    &.red
    {
      background-color: #FFEBEE;
    }

    &.indigo
    {
      background-color: #E8EAF6;
    }

    &.lime
    {
      background-color: #F9FBE7;
    }

    &.orange
    {
      background-color: #FFF3E0;
    }

    &.brown
    {
      background-color: #EFEBE9;
    }

    .header
    {
      height: 25px;
      display: block;
      padding: 10px;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;

      &.green
      {
        background-color: #69F0AE;
      }

      &.blue
      {
        background-color: #448AFF;
      }

      &.pink
      {
        background-color: #FF4081;
      }

      &.purple
      {
        background-color: #E040FB;
      }

      &.red
      {
        background-color: #FF5252;
      }

      &.indigo
      {
        background-color: #536DFE;
      }

      &.lime
      {
        background-color: #EEFF41;
      }

      &.orange
      {
        background-color: #FFAB40;
      }

      &.brown
      {
        background-color: #BCAAA4;
      }
    }

    .widget-content
    {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      ul
      {
        padding: 0;
        list-style: none;

        li
        {
          padding: 10px;

          &:hover
          {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}