<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Graderings häften
    </h1>
</md-toolbar>

<md-list ng-cloak>

    <md-list-item ng-repeat="booklet in vm.Booklets" ng-click="vm.ShowBooklet(booklet.Id)">
        <p>{{booklet.Name}}</p>
    </md-list-item>
</md-list>

<md-list ng-cloak ng-if="vm.Grades.length">
    <md-subheader class="md-no-sticky">
        Bältesgrader
    </md-subheader>

    <md-list-item ng-repeat="grade in vm.Grades" ng-click="vm.Show(grade.Id)">
        <p>{{grade.Name}}</p>
    </md-list-item>
</md-list>