<section>
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools md-whiteframe-z1">
            <i class="fa fa-file-pdf-o" aria-hidden="true" ng-click="vm.ExportGrade();">
                <md-tooltip>
                    Exportera {{booklet.Name}} till pdf
                </md-tooltip>
            </i>
            Visar bältesgrad: {{vm.Grade.Name}}
        </h1>
    </md-toolbar>

    <div class="info-container" layout="row" layout-wrap layout-align="space-around center">
        <md-card ng-repeat="categoryLink in vm.Grade.GradeCategoryLinks" flex="90" flex-md="90" flex-sm="90" flex-gt-lg="45">
            <md-subheader class="md-whiteframe-z1 md-no-sticky">
                <span>{{categoryLink.CategoryName}}</span>
            </md-subheader>

            <div class="techniques">
                <div class="technique md-whiteframe-z1" ng-repeat="technique in categoryLink.GradeCategoryLinkTechniques" ng-click="vm.ShowTechnique(technique.TechniqueId);">
                    <span fit-image style="display: inline-block;">
                        <img ng-src="{{technique.TechniqueImages[0] ? technique.TechniqueImages[0].Image : ''}}" alt=""
                             fallback-src="content/images/No_Image_Available.png" />
                    </span>

                    <div class="footer md-whiteframe-z1">
                        <h3>{{technique.Name}}</h3>
                    </div>
                </div>
            </div>
            <div btf-markdown="categoryLink.Text"></div>
        </md-card>
    </div>
</section>