<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Graderings häften
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till häfte</span>

<md-list ng-cloak>

    <md-list-item ng-repeat="booklet in vm.Booklets | filter:{ClubId: $root.UserService.User.Club.Id}" ng-click="vm.Edit(booklet.Id)">
        <p>{{booklet.Name}}</p>

        <div class="more-icons md-secondary">
            <i ng-if="$root.HasAccess(3, 40)" ng-click="vm.Delete(booklet); $event.stopPropagation();"
               class="fa fa-trash md-hue-3">
                <md-tooltip>
                    Ta bort {{booklet.Name}}
                </md-tooltip>
            </i>
        </div>
    </md-list-item>
</md-list>