<md-subheader class="md-no-sticky">
    Redigera: {{User.FirstName}} {{User.LastName}}
</md-subheader>

<div class="edit-image" fit-image="150">
    <img src="{{User.Image}}" fallback-src="content/images/No_Image_Available.png" />
</div>

<div class="edit-container">
    <md-input-container md-no-float>
        <input type="text" ng-model="User.FirstName" placeholder="Förnamn" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.LastName" placeholder="Efternamn" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserName" placeholder="Användarnamn" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.Email" placeholder="E-post" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="password" ng-model="User.Password" placeholder="Lösenord" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.Phone" placeholder="Telefonnummer" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.Street" placeholder="Adress" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.Zip" placeholder="Postnummer" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.City" placeholder="Stad" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.Occupation" placeholder="Arbete" />
    </md-input-container>

    <md-input-container md-no-float>
        <input type="text" ng-model="User.UserInformation.Weight" placeholder="Vikt" />
    </md-input-container>

    <md-input-container>
        <label>Grad</label>
        <md-select ng-model="User.UserInformation.Grade">
            <md-option ng-repeat="grade in Grades" value="{{grade.Id}}">
                {{grade.Name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-datepicker ng-model="User.UserInformation.Birthday" md-placeholder="Födelsedag">
        <md-tooltip>Födelsedag</md-tooltip>
    </md-datepicker>
</div>

<md-subheader class="md-no-sticky">
    Rättigheter
</md-subheader>

<div class="edit-accessrights">
    <md-checkbox ng-repeat="accessright in AccessRights" ng-model="accessright.Checked" aria-label="{{accessright.Name}}">
        {{accessright.Name}}
        <md-tooltip>{{accessright.Description}}</md-tooltip>
    </md-checkbox>
</div>

<div>
    <md-button class="md-raised md-primary" ng-click="Save();">Spara</md-button>
    <md-button class="md-raised md-warn" ng-click="Back();">Avbryt</md-button>
</div>