<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Medlemmar
    </h1>
</md-toolbar>

<md-input-container md-no-float>
    <input type="text" ng-model="vm.Filter" placeholder="Filter" />
</md-input-container>

<table class="gradera-list" ng-cloak>
    <thead>
        <tr>
            <th class="image"></th>
            <th>Namn</th>
            <th class="hide-sm hide-md hide-xs">Epost</th>
            <th class="hide-sm hide-md hide-xs">Stad</th>
            <th class="hide-sm hide-md hide-xs">Yrke</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" ng-repeat="user in vm.Users | filter:vm.Filter" ng-click="vm.ShowUser(user.Id, $event)">
            <td class="image">
                <img alt="{{ user.FirstName }}" src="{{ user.Image }}" class="md-avatar" fallback-src="content/images/No_Image_Available.png" />
            </td>
            <td>{{user.FirstName}} {{user.LastName}}</td>
            <td class="hide-sm hide-md hide-xs">{{user.UserInformation.Email}}</td>
            <td class="hide-sm hide-md hide-xs">{{user.UserInformation.City.name}}</td>
            <td class="hide-sm hide-md hide-xs">{{user.UserInformation.Occupation}}</td>
        </tr>
    </tbody>
</table>