<md-subheader class="md-no-sticky">
    Visar användare: {{vm.User.FirstName}} {{vm.User.LastName}}
</md-subheader>

<div class="info-image" fit-image="150">
    <img src="{{vm.User.Image}}" fallback-src="content/images/No_Image_Available.png" />
</div>

<div class="info-container">
    <div>
        <span>Namn:</span> {{vm.User.FirstName}} {{vm.User.LastName}}
    </div>
    <div>
        <span>Epost:</span> <a href="mailto:{{vm.User.UserInformation.Email}}">{{vm.User.UserInformation.Email}}</a>
    </div>
    <div>
        <span>Telefonnummer:</span> <a href="tel:{{vm.User.UserInformation.Phone}}">{{vm.User.UserInformation.Phone}}</a>
    </div>
    <div>
        <span>Arbete:</span> {{vm.User.UserInformation.Occupation}}
    </div>
    <div>
        <span>Vikt:</span> {{vm.User.UserInformation.Weight}}
    </div>
    <div>
        <span>Födelsedag:</span> {{vm.User.UserInformation.Birthday | date:'yyyy-MM-dd'}}
    </div>
    <div>
        <span>Bälte:</span> {{vm.GetGrade()}}
    </div>
</div>