<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Välkommen till {{UserService.User.Club.Name}}
    </h1>
</md-toolbar>

<div class="home">
    <div class="club-information">
        <div btf-markdown="vm.Club.Description"></div>
        <div ng-if="!vm.Club.Description">[Ingen klubb beskrivning...]</div>
    </div>

    <div class="home-widgets">
        <div class="widget blue md-whiteframe-z1" ng-if="$root.HasAccess(6, 10) && vm.UnansweredForms.length">
            <div class="header blue">Obesvarade formulär</div>
            <div class="widget-content">
                <ul>
                    <li ng-repeat="form in vm.UnansweredForms" ng-click="vm.GoToUnansweredForm(form.Id)">{{form.Name}}</li>
                </ul>
            </div>
        </div>
        <div class="widget pink md-whiteframe-z1" ng-if="$root.HasAccess(5, 10) && vm.UpcommingCompetitions.length">
            <div class="header pink">Kommande tävlingar</div>
            <div class="widget-content">
                <ul>
                    <li ng-repeat="competition in vm.UpcommingCompetitions" ng-click="vm.GoToCompetition(competition.Id);">{{competition.Name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>