<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Redigera: {{vm.MediabankFile.Name}}
    </h1>
</md-toolbar>

<form name="editMediabankFile" ng-submit="vm.Save()">

    <div ng-if="vm.MediabankFile.FileType == 'IMAGE'" class="info-image" fit-image="150">
        <img src="{{vm.MediabankFile.FileUrl}}" fallback-src="content/images/No_Image_Available.png" />
    </div>

    <div ng-if="vm.MediabankFile.FileType == 'VIDEO'" class="file-wrapper" poster="{{vm.MediabankFile.Thumbnail}}">
        <video controls>
            <source src="{{vm.MediabankFile.FileUrl}}" type="video/mp4">
        </video>
    </div>

    <div class="edit-container">
        <md-input-container>
            <label>Namn</label>
            <input type="text" ng-model="vm.MediabankFile.Name" required name="name" />
            <div ng-messages="editMediabankFile.name.$error">
                <div ng-message="required">Du måste namnge filen</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Besktivning</label>
            <input type="text" ng-model="vm.MediabankFile.Description" name="description" />
        </md-input-container>
    </div>

    <div>
        <md-button class="md-raised md-primary" type="submit">Spara</md-button>
        <md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
    </div>
</form>