<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Mediabank filer
    </h1>
</md-toolbar>

<span class="md-button md-raised" ngf-select="vm.UploadFile($file)"><i class="fa fa-upload"></i> Ladda upp fil</span>

<table class="gradera-list" ng-cloak="">
    <thead>
    <tr>
        <th class="image"></th>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Mer</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.MediabankFiles" ng-click="vm.Show(item)">
        <td class="image">
            <img alt="{{ item.Name }}" ng-src="{{ item.FileUrl }}" class="md-avatar" fallback-src="content/images/No_Image_Available.png" />
        </td>
        <td>{{item.Name}}</td>
        <td>{{item.Description}}</td>
        <td>
            <i ng-if="$root.HasAccess(10, 40);" ng-click="vm.DeleteMediabankFile(item); $event.stopPropagation();" class="fa fa-trash md-secondary md-hue-3"></i>
        </td>
    </tr>
    </tbody>
</table>