.technique-images
{
  display: flex;
  justify-content: center;

  .technique-image
  {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}