<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script src="dependencies.js"></script>
        <script src="application.js"></script>
    </head>
    <body ng-controller="index" ng-cloak layout="column" md-theme="{{$root.Theme}}" md-theme-watch>
        <div class="left-banner green">BETA</div>
        <div flex layout="column">
            <gk-logged-in ng-if="UserService.User.IsLoggedIn"></gk-logged-in>
            <div layout="row" wrap flex layout="column">
                <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="leftNav" flex md-is-locked-open="$mdMedia('gt-md')" ng-if="UserService.User.IsLoggedIn">
                    <md-list>
                        <md-list-item class="nav-header">{{UserService.User.Club.Name}}</md-list-item>
                        <md-list-item ng-click="$root.NavigateTo('home'); SetActiveNav($event)">
                            <a class="md-{{$root.Theme}}-theme md-primary">Hem</a>
                        </md-list-item>

                        <md-list-item ng-repeat="link in $root.Links | filter:{IsAdminLink: false}:true" ng-show="$root.HasAccess(link.AccessType, link.AccessTypeRight)"
                                      ng-click="$root.NavigateTo(link.Sref); SetActiveNav($event)">
                            <a class="md-{{$root.Theme}}-theme md-primary">{{link.Text}}</a>
                        </md-list-item>

                        <div ng-if="$root.HasSomeWriteAccess();">
                            <hr />
                            <md-list-item class="nav-header">{{'menu.admin' | translate}}</md-list-item>
                            <md-list-item ng-repeat="link in $root.Links | filter:{IsAdminLink: true}:true" ng-show="$root.HasAccess(link.AccessType, link.AccessTypeRight)"
                                          ng-click="$root.NavigateTo(link.Sref); SetActiveNav($event)">
                                <a class="md-{{$root.Theme}}-theme md-primary">{{link.Text}}</a>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-sidenav>
                <md-content flex ui-view class="md-padding" ng-class="{'md-whiteframe-z1 content': UserService.User.IsLoggedIn}"></md-content>
                <!--<footer>Copyright &copy; 2015 | Gradera.nu</footer>-->
            </div>
        </div>
    </body>
</html>