<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Redigera: {{vm.Booklet.Name}}
    </h1>
</md-toolbar>

<form ng-submit="vm.Save()" name="editbooklet">
    <div class="edit-container">
        <md-input-container md-no-float>
            <input type="text" ng-model="vm.Booklet.Name" placeholder="Namn"/>
        </md-input-container>

        <md-input-container md-no-float>
            <textarea ng-model="vm.Booklet.Description" placeholder="Beskrivning"></textarea>
        </md-input-container>
    </div>

    <div>
        <md-button class="md-raised md-primary" type="submit">Spara</md-button>
        <md-button class="md-raised md-warn" ng-click="vm.Back();">Avbryt</md-button>
    </div>
</form>