<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Graderings kategorier
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till kategori</span>

<md-list ng-cloak>

    <md-list-item ng-repeat="item in vm.Categories" ng-click="vm.Edit(item.Id)">
        <p>{{item.Name}}</p>

        <div class="more-icons md-secondary">
            <i ng-if="$root.HasAccess(3, 40);" ng-click="vm.Delete(item); $event.stopPropagation();"
               class="fa fa-trash md-hue-3">
                <md-tooltip>
                    Ta bort kategori
                </md-tooltip>
            </i>
        </div>
    </md-list-item>
</md-list>