<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools md-whiteframe-z1">
        Graderings kategorier
    </h1>
</md-toolbar>

<span class="md-button md-raised" ng-click="vm.Edit(0);"><i class="fa fa-plus-circle"></i> Lägg till kategori</span>

<table class="gradera-list" ng-cloak="">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Mer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.Categories" ng-click="vm.Edit(item.Id)">
            <td>{{item.Name}}</td>
            <td>
                <i ng-if="$root.HasAccess(3, 40);" ng-click="vm.Delete(item); $event.stopPropagation();"
                   class="fa fa-trash action-icon">
                    <md-tooltip>
                        Ta bort kategori
                    </md-tooltip>
                </i>
            </td>
        </tr>
    </tbody>
</table>